*.exe
*.ilk
*.o
*.opensdf
*.pak
*.pdb
*.sdf
*.suo
.DS_Store
.build/
.gradle/
.ycm_extra_conf.py*
/.build_*
/rescompiler
Debug/
Release/
arkanoidsb*
armeabi-v7a/
armeabi/
assets/
bin/
gen/
local.properties
obj/
project.xcworkspace/
src/version.cpp
tags
tmp/
xcuserdata/
